<form>
	<input type="text" name="videoId" placeholder="Youtube video ID" maxlength="11">
	<br>
	<input type="checkbox" name="includeStatistics" !checked> <label>Include statistics</label>
	<br>
	<textarea rows="10" cols="70"></textarea>
</form>