<h1>Editing todo</h1>
<br>
<%= render "form", todo: @todo %>

<br>
  
<div>
  <%= link_to "Show this todo", @todo, class:"btn btn-secondary" %>
  <%= link_to "Delete",todo_path(@todo),
        data:{
          turbo_method: :delete,
          turbo_confirm:"Are you sure?"
        },class:"btn btn-danger" %>
  <%= link_to "Back to todos", todos_path, class:"btn btn-secondary" %>
</div>
